.heading {
  h1 {
    text-align: center;
    margin-top: 90px;
    font-size: 90px;
    position: relative;
    background: url(../images/wall2.jpg) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
