footer {
  padding: 30px 0;
  text-align: center;

  .logo {
    margin-bottom: 8px;

    img {
      width: 60px;
    }
  }

  .navlinks {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  .f-d {
    margin-top: 15px;
  }
}
