@float-left: left;
@padding-top: 70px;
@who-width: 50%;

.home-container {
  margin: 0 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#column1 {
  float: @float-left;
  width: 5%;
  padding: 10px;
  padding-top: @padding-top;
}
#column2 {
  float: @float-left;
  width: 95%;
  padding: 10px;
  padding-top: @padding-top;

  h1 {
    font-size: 90px;
    position: relative;
    text-align: center;
    background: url(../images/wall2.jpg) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    padding-top: @padding-top;
    text-emphasis: none;
    text-align: center;
  }
}

.description {
  font-size: 20px;
  padding-top: 230px;
  position: relative;
  text-align: center;
}

.column3 {
  width: @who-width;
  float: left;
  padding-top: @padding-top;

  h1 {
    text-align: center;
    background: url(../images/wall2.jpg) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin: 3em;
  }
}

.column4 {
  width: @who-width;
  float: left;
  padding-top: @padding-top;

  #img1 {
    padding-top: 30%;
    width: 90%;
    height: 100%;
  }
}

.cards-01 {
  .card-1 {
    margin: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
    float: @float-left;

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container-card {
      padding: 2px 16px;
    }

    img {
      width: 100%;
    }
  }
}

.cards-02 {
  .card-2 {
    text-align: center;
    margin: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 220px;
    height: 220px;
    float: @float-left;

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container-card2 {
      padding: 2px 16px;
    }

    img {
      width: 100%;
    }
  }
}

.heading3 {
  margin-bottom: 50px;
  margin-top: 50px;

  h1 {
    font-size: 90px;
    position: relative;
    text-align: center;
    background: url(../images/wall2.jpg) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.cards-03 {
  .card-3 {
    text-align: center;
    margin: 22px;
    transition: 0.3s;
    width: 200px;
    height: 200px;
    float: @float-left;

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container-card3 {
      padding: 2px 16px;
    }

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-container {
    margin: 0 5px;
  }

  #column2 {
    float: none;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 70px;
      padding-top: 10px;
    }
  }

  .description {
    padding-top: 30px;
    margin: 0.5em;
  }

  .column3 {
    float: none;
    width: 100%;
    padding-top: 20px;

    p {
      margin: 2em;
    }
  }

  .column4 {
    float: none;
    width: 100%;
    padding-top: 0px;
    #img1 {
      padding-top: 0px;
      width: 100%;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cards-01 {
    margin-top: 30%;
    .card-1 {
      align-items: center;
      align-content: center;
      text-align: center;
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-bottom: 15px;
    }
  }

  .cards-02 {
    margin-top: 30%;

    .card-2 {
      align-items: center;
      align-content: center;
      text-align: center;
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .home-container {
    margin: 0 5px;
  }

  #column2 {
    float: none;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 70px;
      padding-top: 10px;
    }
  }

  .description {
    padding-top: 30px;
    margin: 0.5em;
  }

  .column3 {
    float: none;
    width: 100%;
    padding-top: 20px;

    p {
      margin: 2em;
    }
  }

  .column4 {
    float: none;
    width: 100%;
    padding-top: 0px;
    #img1 {
      padding-top: 0px;
      width: 100%;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cards-01 {
    margin-top: 30%;
    .card-1 {
      align-items: center;
      align-content: center;
      text-align: center;
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-bottom: 15px;
    }
  }

  .cards-02 {
    margin-top: 30%;

    .card-2 {
      align-items: center;
      align-content: center;
      text-align: center;
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-bottom: 15px;
    }
  }
}
