.join-container {
  margin: 0 100px;
}
.row1 {
  .heading {
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .para {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .join-container {
    margin: 0 40px;
  }
  .row1 {
    .heading {
      text-align: center;
    }
  }
}
