.wall {

	.social-buttons {
		position: relative;
		left: 25px;
		width: min-content;

		ul {
			list-style: none;

			li {
				margin: 5px 0;
				img {
					opacity: 0.7;
					width: 48px;
					transition: opacity .25s;
				}

				&:hover{
					img{
						opacity: 1;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
  	.wall{
		.main-title{
			svg{
				height: 100px;
			}
		}

		.social-buttons{
			display: none;
		}
		
		svg text {
		    font: bold 14px sans-serif;
		    font-family: 'Work Sans', sans-serif;
		}
	}
}